body{
    background: #1a3c2e;
}

#divContainer{
    border: 4px solid #4e746d;   
    min-width: 480px; 
    min-height: 480px;
    max-width: 480px;
    max-height: 480px;
    display: flex;
    gap: 0px;
    padding: 0px;
    justify-content: space-around;
    background: white;
}