body{
    background: #1a3c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#divContainer{
    border: 4px solid #4e746d;   
    min-width: 480px; 
    min-height: 480px;
    max-width: 480px;
    max-height: 480px;
    display: flex;
    gap: 0px;
    padding: 0px;
    justify-content: space-around;
    background: white;    
}

button{
    max-width: 480px;
    max-height: 480px;
    border-radius: 30px;
    font-size: 36px;
    padding: 0px 12px 0px 12px;
    background: #c7dfc5;
    transition: background 0.5s;
}

button:hover{
    background: #ffffff;
}